$text-base-color: #FFF;
$text-second-color: rgba(255, 255, 255, 0.7);

$primary-color: #33B0B3;
$secondary-color: #7A9DC4;
$success-color: #317FB9;
$fake-color: #5D7092;
$disabled-color: #8C9AB0;
$link-color: #00D0CD;
$link-hoverColor: #00FFFB;

$bg-brandColor: #35445D;
$bg-secondColor: #455673;

$bg-activeColor: #4D5E79;
$bg-accentColor: #566781;

$bg-sidebarTitle: linear-gradient(90deg, rgba(51, 185, 189, 0.2) 1.4%, rgba(51, 185, 189, 0) 151.26%);
$bg-sidebarAuth: linear-gradient(0deg, rgba(51, 185, 189, 0) -21.68%, rgba(51, 185, 189, 0.5) 86.3%);

$boxShadow: rgba(0, 0, 0, 0.15);

